.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #1a2538
}
.featuresContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.featuresH1{
    color: white;
    font-weight: bold;
}
.featuresList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #141c2a;
    padding: 3vmin 5vmin;
    width: 60%;
}