.introduction{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20vmin;
}
.container{
    background-color: #1a2538;
}
.featuresContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vmin;
    padding-bottom: 10vmin;

}
.featuresH1{
    color: white;
    font-weight: bold;
}
.featuresList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 3vmin 5vmin;
    width: 60%;
}
.feature{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #141c2a;
    padding: 10vmin 5vmin 6vmin 5vmin;
    border-radius: 10px;
    border: 2px solid #591ed9;
    color: white;
    font-weight: 600;
    height: 70vmin;
    width: 45vmin;
    margin-top: 5vmin;
    transition: all 0.7s
}
.featureContainer{
    transition: all 0.7s;
}
.featureContainer:hover{
    cursor: pointer;
    padding: 0 2vmin 3vmin 0
}
.featureDesc{
    font-weight: 400;
    font-size: 2vh;
    width: 25vmin;
    height: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vmin;
    opacity: .7;
    color: white;
}
.featureTitle{
    text-align: center;
    font-size: 5vh;
    margin-bottom: 8vmin;
    height: 10vmin;
}
.featureDesc p{
    margin: 0;
    text-align: justify;
}
.linkToFeature{
    text-transform: uppercase;
    transition: all .7s;
}
.linkToFeature:hover{
    border-bottom: 1px solid white
}
.introText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.introText h1{
    font-size: 7vh;
    color: white;
    font-weight: 800;
}
.introText h4{
    color: white;
    opacity: .7;
    font-weight: 300;
    text-align: left;
}
.clippy{
    border-radius: 1000px;
    border: 1.5px solid #591ed9;
    padding: 15vmin;
}
.clippedDiv{
    position: relative;
	width: 30vmin;
	height: 30vmin;
    background-color: #591ed9;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}
.clippedDivInterior{
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #141c2a;
}
.greetingSpan{
    font-weight: bold;
}
.separator{
    background-color: #591ed9;
    padding: .2vmin 0;
    width: 100%;
    margin: 30vmin 0;
    transform: rotate(5deg);
}