.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #141c2a;

}
.topnav a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3vmin 2vmin;
    background-color: #141c2a;
    transition: all .7s;
    color: white;
    font-weight: bold;
    width: 100%;
}
.topnav a:hover{
    color: #591ed9;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #141c2a;
    color: white;
    font-weight: bold;
    padding: 5vmin 3vmin;
}
@media screen and (max-width: 780px) {
    .topnav{
        flex-direction: column;
    }
}